.sidebar {
  float: left;
  width: 20%;
}
.column {
  float: left;
  width: 40%;
}

h1 {
  text-align: center;
  font-size: 80px;
}
img {
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.date {
  display:block;
  margin-left: 5px;
  font-weight: bold;
}
body {
  background-color: yellow;
  color: #93D3D9;
}
p {
  text-align: justify;
}

h2 {
  text-align: center;
}

h4 {
  text-align: center;
  font-size: 10px;
}
